
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

</div>
<div *ngIf='completed'>{{completed | json}}
	</div>
<div id="wrapper">
<form (submit)="onSubmit()" #formData="ngForm" name="registrationForm" > 
	<p>First: <input type="text" name="firstName" required minlength="4" maxlength="24" [(ngModel)]="user.firstName" #firstName='ngModel'/> 
		<label *ngIf="!firstName.valid">Please enter more than 4 characters.</label></p>
	<p>Last: <input type="text" name="lastName" required minlength="4" maxlength="24" [(ngModel)]="user.lastName" #lastName='ngModel'/>
		<label *ngIf="!lastName.valid">Please enter more than 2 characters.</label></p>
	<p>Email: <input type="text" name="email" required minlength="5" maxlength="50" [(ngModel)]="user.email" #email='ngModel' />
		<label *ngIf="!email.valid">Please enter a valid email.</label></p>
	<p>Password: <input type="text" name="password" required minlength="3" maxlength="24" pattern="^([a-zA-Z0-9@*#]{3,15})$" [(ngModel)]="user.password" #password='ngModel' />
		<label *ngIf="!password.valid">Please enter more than 3 characters and can only contain numbers and letters.</label></p>
	<p>Street: <input type="text" name="street" required minlength="4" maxlength="50" [(ngModel)]="address.street" #street='ngModel'/>
		<label *ngIf="!street.valid">Please enter more than 4 characters.</label></p>
	<p>Unit:
		<input type="text" name="unit" maxlength="50" [(ngModel)]="address.unit" #city='ngModel' />
	</p>
	<p>City: <input type="text" name="city" required minlength="2" maxlength="50" [(ngModel)]="address.city" #city='ngModel'/>
		<label *ngIf="!city.valid">Please enter more than 2 characters.</label></p>
	<p>State: <input type="text" name="state" required minlength="2" maxlength="50" [(ngModel)]="address.state" #state='ngModel'/>
		<label *ngIf="!state.valid">Please enter more than 2 characters.</label></p>
	<!-- // if ther eare no errors in the form -->


		<input type="submit" ng-disabled="false" *ngIf="formData.valid">

</form>

</div>

